k8s/env-configmap.yaml
k8s/tmaskpl-pgdata-persistentvolumeclaim.yaml
k8s/tmaskpl-postgres-deployment.yaml
k8s/tmaskpl-postgres-service.yaml
k8s/tmaskpl-web-deployment.yaml
k8s/tmaskpl-web-service.yaml
